{% extends "admin/layout/master-login.twig" %}

{% block content %}
<!-- Form area -->
<div class="admin-form" >
    <div class="container">

        <div class="row">
            <div class="col-md-12">


                <!-- Widget starts -->
                <div class="widget worange">

                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="fa fa-lock"></i> {{ 'ADMIN_LOGIN_TITLE'|trans }}
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <!-- Login form -->
                            <form class="form-horizontal" role="form" action="{{ url('login') }}" method ="post">
                                <!-- Email -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3" for="inputEmail">{{ 'ADMIN_EMAIL_TITLE'|trans }}</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" name="email" id="email"  autofocus>
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="form-group">
                                    <label class="control-label col-lg-3" for="inputPassword">{{ 'ADMIN_PASSWORD_TITLE'|trans }}</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" name="password" id="password">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-lg-offset-3">
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <button class="btn btn-primary" type="submit" value="Login" name="login-form-submit">{{ 'ADMIN_SIGNIN_TITLE'|trans }}</button>
                                </div>
                                <br />
                                    <p>

                                    </p>
                            </form>
                            {% if msg %}
                                {% for m in msg %}
                                    {% if m.content %}{{ m.content }}{% endif %}
                                {% endfor %}
                            {% endif %}

                        </div>     <div id="response"></div>
                    </div>

                    <div class="widget-foot">
                        {{ 'ADMIN_FORGOT_PASSWORD_TITLE'|trans }} <a href="">{{ 'ADMIN_CLICK_HERE_TITLE'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}