{% extends "admin/layout/master.twig" %}

{% block content %}
    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="fa fa-home"></i> Settings</h2>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->


        <!-- Matter -->

        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        {{ flash['recaptcha'] }}

                        <div class="widget">
                            <div class="widget-head">
                                <div class="pull-left">reCAPTCHA Settings</div>
                                <div class="widget-icons pull-right">
                                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                                    <!--<a href="#" class="wclose"><i class="fa fa-times"></i></a>-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">

                                    <!-- Content -->

                                    <!-- Form starts.  -->
                                    <form class="admin-ajax form-horizontal" role="form" action="{{ siteUrl('/admin-area/recaptcha') }}" method ="post">

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Enter Public Key:</label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="text" name ="public_key" value ="{% if recaptcha.public_key %}{{ recaptcha.public_key }}{% endif %}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Enter Private Key:</label>
                                            <div class="col-lg-5">
                                                <input class="form-control" type="text" name ="private_key" value ="{% if recaptcha.private_key %}{{ recaptcha.private_key }}{% endif %}">

                                                <input type="hidden" name="token" value="{{ token }}">

                                                <p><input type="submit" value ="Submit" name ="recaptcha_submit" class="btn btn-primary"></p>

                                                <p>No Public and Private key? Get them <a href="https://www.google.com/recaptcha/admin#whyrecaptcha" target="_blank">here</a> from Google</p>

                                            </div>
                                        </div>

                                    </form>
                                    <!-- End content -->

                                </div>
                                <div class="widget-foot">
                                    <!-- Footer goes here -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

    </div>
    <!-- Content ends -->

{% endblock %}

{% block sidebar %}
    {% include "admin/layout/side.twig" %}
{% endblock  %}
