
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> <!-- jQuery -->
<script src="{{ url('home') }}/assets/admin/js/doo-ajax.js"></script>
<script src="{{ url('home') }}/assets/admin/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="{{ url('home') }}/assets/admin/js/jquery-ui.min.js"></script> <!-- jQuery UI -->
<script src="{{ url('home') }}/assets/admin/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="{{ url('home') }}/assets/admin/js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="{{ url('home') }}/assets/admin/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->
<script src="{{ url('home') }}/assets/admin/js/jquery.slimscroll.min.js"></script> <!-- jQuery Slim Scroll -->
<script src="{{ url('home') }}/assets/admin/js/jquery.dataTables.min.js"></script> <!-- Data tables -->

<!-- jQuery Flot -->
<script src="{{ url('home') }}/assets/admin/js/excanvas.min.js"></script>
<script src="{{ url('home') }}/assets/admin/js/jquery.flot.js"></script>
<script src="{{ url('home') }}/assets/admin/js/jquery.flot.resize.js"></script>
<script src="{{ url('home') }}/assets/admin/js/jquery.flot.pie.js"></script>
<script src="{{ url('home') }}/assets/admin/js/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="{{ url('home') }}/assets/admin/js/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="{{ url('home') }}/assets/admin/js/themes/default.js"></script> <!-- jQuery Notify -->
<script src="{{ url('home') }}/assets/admin/js/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="{{ url('home') }}/assets/admin/js/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="{{ url('home') }}/assets/admin/js/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{{ url('home') }}/assets/admin/js/sparklines.js"></script> <!-- Sparklines -->
<script src="{{ url('home') }}/assets/admin/js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="{{ url('home') }}/assets/admin/js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="{{ url('home') }}/assets/admin/js/jquery.onoff.min.js"></script> <!-- Bootstrap Toggle -->
<script src="{{ url('home') }}'/assets/admin/js/filter.js"></script> <!-- Filter for support page -->
<script src="{{ url('home') }}/assets/admin/js/custom.js"></script> <!-- Custom codes -->
<script src="{{ url('home') }}/assets/admin/js/charts.js"></script> <!-- Charts & Graphs -->

<!--<script src="{{ url('home') }}/assets/js/file_uploads.js"></script>-->

<script type="text/javascript" src="https://www.google.com/jsapi"></script><!-- Google charts -->
<script>
    var site_url = "{{ url('home') }}";
    var spinner = "<i class='fa fa-cog fa-spin'></i>";
    CKEDITOR.config.allowedContent = true;
    CKEDITOR.replace( 'description' );
    CKEDITOR.replace( 'homepage' );
    CKEDITOR.replace( 'editor1' );
</script>

</body>
</html>