<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>DooAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">


    <!-- Stylesheets -->
    <link href="{{ url('home') }}/assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome icon -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/jquery-ui.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/fullcalendar.css">
    <!-- prettyPhoto -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/prettyPhoto.css">
    <!-- Star rating -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/rateit.css">
    <!-- Date picker -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/bootstrap-datetimepicker.min.css">
    <!-- Data tables -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/jquery.dataTables.css">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{{ url('home') }}/assets/admin/css/jquery.onoff.css">
    <!-- Main stylesheet -->
    <link href="{{ url('home') }}/assets/admin/css/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="{{ url('home') }}/assets/admin/css/widgets.css" rel="stylesheet">

    <script src="{{ url('home') }}/assets/admin/js/respond.min.js"></script>
    <!--[if lt IE 9]>
    <script src="{{ url('home') }}/assets/admin/js/html5shiv.js"></script>
    <![endif]-->

    <!-- CKEditor -->
    <script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url('home') }}/assets/admin/img/favicon/favicon.png">
</head>
<body>