{% extends "admin/layout/master.twig" %}

{% block content %}

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="fa fa-home"></i> Videos</h2>

            <div class="clearfix"></div>

        </div>
        <!-- Page heading ends -->


        <!-- Matter -->

        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                         <b>{{ flash['item-updated'] }}
                         {{ flash['item-created'] }}
                         {{ flash['deleted'] }}</b>

                        <div class="widget">
                            <div class="widget-head">
                                <div class="pull-left">Title</div>
                                <div class="widget-icons pull-right">
                                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                                    <!--<a href="#" class="wclose"><i class="fa fa-times"></i></a>-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">

                                    <!-- Table Page -->
                                    <div class="page-tables">
                                        <!-- Table -->
                                        <div class="table-responsive">
                                            <table cellpadding="0" cellspacing="0" border="0" id="data-table" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th width="250">Title</th>
                                                    <th width="150">Video</th>
                                                    <th width="150">Provider</th>
                                                    <th width="150">Category</th>
                                                    <th width="100">Status</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <?php if( $videos ) : ?>
                                                {% if items %}
                                                {% for item in items %}
                                                <tr>
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.title }}</td>
                                                    <td>
                                                        <img width="100px" src="{{ item.image_url }}" alt="">
                                                        <br/><small>Views: {{ item.count_visitor }}
                                                    <td>{{ item.vendor_category|capitalize }}</td>
                                                    <td>{{ item.category }}</td>

                                                    <td>
                                                        <?php if( $video['status'] == 'active' ): ?>
                                                        {% if item.status == 'active' %}
                                                        <span class="label label-success">{{ item.status }}</span>
                                                        {% endif %}
                                                         {% if item.status == 'pending' %}
                                                        <span class="label label-warning">{{ item.status }}</span>
                                                         {% endif %}
                                                        {% if item.status == 'inactive' %}
                                                        <span class="label label-danger">{{ item.status }}</span>
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        <a href="{{ siteUrl('/admin-area/item') }}/{{ item.id }}/edit" class="btn btn-xs btn-default" role="button"><i class="fa fa-pencil"></i></a>
                                                        <a href="{{ siteUrl('/admin-area/item') }}/{{ item.id }}/delete" class="btn btn-xs btn-danger" role="button" onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                    <p><b>No videos available in table</b></p>
                                                {% endif %}
                                                </tbody>
                                            </table>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- End table -->

                                </div>
                                <div class="widget-foot">
                                    <!-- Footer goes here -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>

    </div>
    <!-- Content ends -->


{% endblock %}


{% block sidebar %}
    {% include "admin/layout/side.twig" %}
{% endblock  %}